.profile__ {
    background-color: grey;
}

.profile__image {
    width: 180px;
    height: 250px;
}

// .grid-container {
//     background-color: rgb(24, 94, 199);
//     height: 100%;
//     display: grid;
//     grid-template-columns: 1fr 1fr 1fr 1fr;
//     grid-template-rows: 1fr 1fr 1fr;
//     grid-template-areas: "profile-pic reddit-cos reddit-cos reddit-cos" "desc main__part main__part main__part" "desc main__part main__part main__part";
// }
// .reddit-cos {
//     display: grid;
//     grid-template-columns: 1fr 1fr 1fr;
//     grid-template-rows: 0.6fr 1.4fr;
//     grid-template-areas: "reddit-URL reddit-URL reddit-URL" "some_things some_things some_things";
//     grid-area: reddit-cos;
//     background-color: rgb(153, 24, 24);
// }
// .reddit-URL {
//     grid-area: reddit-URL;
// }
// .some_things {
//     grid-area: some_things;
//     background-color: grey;
// }
// .profile-pic {
//     grid-area: profile-pic;
//     background-color: green;
// }
// .desc {
//     display: grid;
//     grid-template-columns: 1fr 1fr 1fr;
//     grid-template-rows: 1.6fr 0.4fr;
//     grid-template-areas: ". . ." ". . .";
//     grid-area: desc;
// }
// .main__part {
//     display: grid;
//     grid-template-columns: 0.5fr 2.3fr 0.2fr;
//     grid-template-rows: 1fr 1fr;
//     grid-template-areas: ". main__part__panel ." ". main__part__panel .";
//     grid-area: main__part;
// }
// .main__part__panel {
//     grid-area: main__part__panel;
// }
// .reddit__desc {
//     font-size: smaller;
// }