<!-- <div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="profile__">

            </div>
        </div>

    </div>
</div> -->
<!-- 
<div class="grid-container">
    <div class="reddit-cos">
        <div class="reddit-URL text-center">
            <a href="https://www.reddit.com/">Go to Reddit</a>
        </div>
        <div class="some_things">

            Reddit is an American social news aggregation, web content rating, and discussion website. Registered members submit content to the site such as links, text posts, and images, which are then voted up or down by other members. Posts are organized by subject
            into user-created boards called "subreddits", which cover a variety of topics including news, science, movies, video games, music, books, fitness, food, and image-sharing. Submissions with more up-votes appear towards the top of their subreddit
            and, if they receive enough up-votes, ultimately on the site's front page. Despite strict rules prohibiting harassment, Reddit's administrators spend considerable resources on moderating the site.

        </div>
    </div>
    <div class="profile-pic">
        <div class="profile-pic">
            <img class="profile__image" src='../assets/images/reddit.png'>
        </div>
    </div>
    <div class="desc">
    </div>
    <div class="main__part">
        <div class="main__part__panel">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="details-tab" data-toggle="tab" href="#details" role="tab" aria-controls="profile" aria-selected="true">Added Urls</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " id="desc-tab" data-toggle="tab" href="#desc" role="tab" aria-controls="home" aria-selected="false">Add Link</a>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="row d-flex justify-content center">
                    <div class="col-md-12">
                        <div id="details" class="tab-content details-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="details" role="tabpanel" aria-labelledby="profile-tab">
                                <app-user-link-list></app-user-link-list>
                            </div>
                            <div class="tab-pane fade" id="desc" role="tabpanel" aria-labelledby="desc-tab">
                                <app-user-link-add></app-user-link-add>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->



<!-- <div class="row">
    <div class="col-sm-3">
        <div class="reddit-URL text-center">
            <a href="https://www.reddit.com/">Go to Reddit</a>
            <div class="profile-pic">
                <img class="profile__image" src='../assets/images/reddit.png'>
            </div>
        </div>
    </div>
    <div class="col-sm-9 my-5">
        Reddit is an American social news aggregation, web content rating, and discussion website. Registered members submit content to the site such as links, text posts, and images, which are then voted up or down by other members. Posts are organized by subject
        into user-created boards called "subreddits", which cover a variety of topics including news, science, movies, video games, music, books, fitness, food, and image-sharing. Submissions with more up-votes appear towards the top of their subreddit
        and, if they receive enough up-votes, ultimately on the site's front page. Despite strict rules prohibiting harassment, Reddit's administrators spend considerable resources on moderating the site.
    </div>
    <div class="col-sm-12">
        <div class="container mx-auto my-5">
            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="details-tab" data-toggle="tab" href="#details" role="tab" aria-controls="profile" aria-selected="true">Added Urls</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " id="desc-tab" data-toggle="tab" href="#desc" role="tab" aria-controls="home" aria-selected="false">Add Link</a>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="row d-flex justify-content center">
                <div class="col-md-12">
                    <div id="details" class="tab-content details-tab" id="myTabContent">
                        <div class="tab-pane fade show active" id="details" role="tabpanel" aria-labelledby="profile-tab">
                            <app-user-link-list></app-user-link-list>
                        </div>
                        <div class="tab-pane fade" id="desc" role="tabpanel" aria-labelledby="desc-tab">
                            <app-user-link-add></app-user-link-add>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->




<!-- 
<div class="grid-container">
    <div class="reddit-cos">
        <h5>Reddit</h5>
    </div>
    <div class="profile-pic">
        <img class="profile__image" src='../assets/images/reddit.png'>
    </div>
    <div class="desc">
        You can input the reddit link in 'Add' section. You can browse the
    </div>
    <div class="main__part">

    </div>
</div> -->


<div class="container ">
    <div class="row ">
        <div class="col-12">
            <div class="card">

                <div class="card-body">
                    <div class="card-title mb-4">
                        <div class="d-flex justify-content-start">
                            <div class="image-container">
                                <img class="profile__image" src='../assets/images/reddit.png' />
                                <div class="middle">

                                </div>
                            </div>
                            <div class="userData ml-3">
                                <h2 class="d-block" style="font-size: 1.5rem; font-weight: bold"> <a href="https://www.reddit.com/">Go to Reddit</a>
                                </h2>
                                <h6 class="d-block"><a href="javascript:void(0)">{{numberOfComments}}</a> Added Comments</h6>
                                <h6 class="d-block"><a href="javascript:void(0)">{{numberOfUserUrls}}</a> Added links</h6>
                                <span class="reddit__desc">Reddit is an American social news aggregation, web content rating, and discussion website. Registered members submit content to the site such as links, text posts, and images, which are then voted up or down by other members. Posts are organized by subject
                                    into user-created boards called "subreddits", which cover a variety of topics including news, science, movies, video games, music, books, fitness, food, and image-sharing. Submissions with more up-votes appear towards the top of their subreddit
                                    and, if they receive enough up-votes, ultimately on the site's front page. Despite strict rules prohibiting harassment, Reddit's administrators spend considerable resources on moderating the site.
                                </span>
                            </div>
                            <div class="ml-auto">
                                <input type="button" class="btn btn-primary d-none" id="btnDiscard" value="Discard Changes" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="basicInfo-tab" data-toggle="tab" href="#basicInfo" role="tab" aria-controls="basicInfo" aria-selected="true">Your Links</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="connectedServices-tab" data-toggle="tab" href="#connectedServices" role="tab" aria-controls="connectedServices" aria-selected="false">Add link</a>
                                </li>
                            </ul>
                            <div class="tab-content ml-1" id="myTabContent">
                                <div class="tab-pane fade show active" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tab">

                                    <app-user-link-list (valueChange)="setNumberOfUserUrls($event)"></app-user-link-list>
                                    <hr />

                                </div>
                                <div class="tab-pane fade" id="connectedServices" role="tabpanel" aria-labelledby="ConnectedServices-tab">
                                    <app-user-link-add></app-user-link-add>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>
</div>