<div class="container">
    <div>
        <div class="p-1 bg-light rounded rounded-pill shadow-md mb-4">

            <form [formGroup]="inputForm">
                <div class="input-group">
                    <input formControlName="input" type="search" placeholder="Paste here reddit thread url" aria-describedby="button-addon1" class="form-control border-0 bg-light">
                    <div class="input-group-append">
                        <button class="btn btn-link" [disabled]="isLoading" type="submit" (click)="addUrl()"><i class="fa fa-plus-square"></i></button>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



<div *ngIf="isLoading" class="d-flex justify-content-center">
    <div class="loadingio-spinner-spinner-8vzuf1txdvv ">
        <div class="ldio-a92ch2hwiin">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>