<div class="container my-5 jumbotron">
    <app-back-btn class="my-1"></app-back-btn>
    <app-back-logout></app-back-logout>

    <h4 class="text-center">Here are your rated comments</h4>
    <h6>
        <!-- <a href="{{urlLink}}">Link to thread!</a> -->
        <a [href]="urlLink" target="_blank">Link to thread!</a>
    </h6>
    <div class="tableFixHead">
        <table class="table table-striped table-dark">
            <thead>
                <th scope="col">#</th>
                <th scope="col">Id</th>
                <th scope="col">Comment Body</th>
                <th scope="col">Score</th>
                <th scope="col">Type</th>
            </thead>
            <tbody>
                <tr *ngFor="let comment of comments;let i = index" scope="row">
                    <td>{{i+1}}</td>
                    <td class="small">{{comment.id}}</td>
                    <td class="small">{{comment.comment}}</td>
                    <td class="small">{{comment.score | number: '0.0-8'}}</td>
                    <td class="small" *ngIf="comment.score >= 0.5">Really Positive</td>
                    <td class="small" *ngIf="comment.score > 0 && comment.score < 0.5">Positive</td>
                    <td class="small" *ngIf="comment.score === 0">Neutral</td>
                    <td class="small" *ngIf="comment.score < 0 && comment.score > -0.5">Negative</td>
                    <td class="small" *ngIf="comment.score <= -0.5 ">Really Negative</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>