<div class="container my-5 jumbotron">
    <app-back-btn class="my-1"></app-back-btn>
    <app-back-logout></app-back-logout>

    <h6 class="my-2 text-center">Number of Url's added <b>{{userUrls.length}}</b></h6>
    <h6 class="my-1 text-center">Number of all Comments added <b> {{userComments}}</b></h6>
    <hr>
    <table class="table table-dark">
        <thead>
            <th>#</th>
            <th class="text-center">Comment url</th>
            <th></th>
        </thead>
        <tbody>
            <tr *ngFor="let url of userUrls; let i = index">
                <td>{{i+1}}</td>
                <td>
                    <app-user-link-list-item [url]="url"></app-user-link-list-item>
                </td>
                <td (click)="deleteUrl(url)">&times;</td>
            </tr>
        </tbody>
    </table>
</div>